/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= BODY ================= */
body {
    font-family: 'Segoe UI', sans-serif;
    background: #0b132b;
    color: white;
    display: flex;
    flex-direction: column;
}

/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #0a0f1f;
    position: relative;
    z-index: 2;
position: sticky;
top: 0;
}

.logo {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: white;
}



/* ================= HEADER ================= */
header {
    position: relative;
    z-index: 1;

}

header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}

/* HERO */
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgba(0,0,0,0.6);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    z-index: 2;
}

.hero-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

/* BUTTON */
.hero-content button {
    background: red;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-main:hover {
    background: #cc0000;
}

/* ================= FILTERS ================= */
#filters-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -30px; 
    z-index: 10;
}

.filters-container {
    display: flex;
    gap: 10px;
    background: #2b374a;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* buttons */
.filters-container button {
    background: transparent;
    border: none;
    color: #ccc;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.filters-container button.active {
    background: #3d4b61;
    color: white;
}

/* ================= MOVIES SECTION ================= */
.movies-container {
    padding: 40px 5%;

}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 25px;
   
}

/* GRID */

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.movie-card {
    width: 100%; 
    background: #111827;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #1f2937;
    display: flex;
    flex-direction: column;
}

.movie-card:hover {
    transform: translateY(-8px);
}
@media (max-width: 900px) {
    .movie-grid {
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 600px) {
    .movie-grid {
        grid-template-columns: repeat(1, 250px);
    }
}

.card-img img {
    width: 100%;
    height: 380px; 
    object-fit: cover; 
    display: block;
    object-position: top;
}

/* CARD CONTENT */
.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h3 {
    font-size: 1.1rem;
    margin: 10px 0;
    text-align: center;
}
.card-content p{
    margin-bottom: 5px 10px;
    font-size: 13px;
    padding: 0px 0px 10px 0px;
    text-align: center;
}

/* BUTTON CARD */
.card-content button {
    width: 100%;
    background: #e11d48;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.card-content button:hover {
    background: #be123c;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* L-card dyal l-modal */
.modal-content {
    background: #111827; 
    border-radius: 15px;
    width: 100%;
    max-width: 500px; 
    overflow: hidden; 
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    text-align: center;
}


#modal-img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
}


.modal-info {
    padding: 20px;
    text-align: left; 
    text-align: center;
}

#modal-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    
}

#modal-description {
    font-size: 15px;
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}
#Favoris {
    text-align:start;
    padding: 0 0 0 60px;
}


#add-fav {
    width: 100%;
    background: #e11d48;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#add-fav:hover {
    background: #be123c;
}


#close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 30px; 
    font-weight: bold;
    color: white;
    cursor: pointer; 
    z-index: 100;
    transition: 0.3s;
}

#close:hover {
    color: #e11d48; 
}
.remove-fav-btn {
    width: 100%;
    background: #4b5563; 
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s;
}

.remove-fav-btn:hover {
    background: #374151;
    color: #ff4d4d; /* Devient un peu rouge au survol */
}
/* ================= FOOTER ================= */
footer {
    background: #0a1120; 
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 14px;
    color: #aaa;
    box-sizing: border-box;
}